/* GERAL */
*{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: white;
}

/* CONTATO */
.fixed-bottom{
    left: unset;
    margin-right: 2%;
    margin-bottom: 1%;
}   

#voltTopo{
    right: unset;
    margin-left: 2%;
    margin-bottom: 1%;
}

#envFeedback{
    display: none;
}

#envSuccess{
    display: none;
}

/* NAVBAR */
.logo{
    border-radius: 2%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.613);
}

#full{
    display: block;
}

#half{
    display: none;
}

@media (max-width: 640px) {
    #full{
        display: none;
    }
    
    #half{
        display: block;
    }
}

.navbar, .navbar .nav-link{
    background: linear-gradient(to right, #007222, #008d13);
    color: #ffffff;
}
.navbar-toggler{
    background-color: #ffffff;
}
.breadcrumb-item a{
    color: white;
}

/* CURSOS */
#eletro {
    background-color: #212529;
    transition: background-color 0.5s ease;
}
#eletro.ativo {
    background-color: #4E5B69;
}

#info {
    background-color: #0254c0;
    transition: background-color 0.5s ease;
}
#info.ativo {
    background-color: #4a88d8;
}

#minera {
    background-color: #6d0528;
    transition: background-color 0.5s ease;
}
#minera.ativo {
    background-color: #AD345C;
}

/* TEXTO */
.txt{
    margin-top: 1%;
    text-align: center;
    padding: 1%;
}

.card-text{
    text-align: justify;
}

/* FOOTER */
.footer{
    background: linear-gradient(to right, #007222, #008d13);
    color: #ffffff;
}

.mt-5{
    margin-top: 0px !important;
}
